.background-container {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;

  background-image: url("/src/assets/img/waveFlipped.svg");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position-x: 0%;
}
.background-container-flipped {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;

  background-image: url("/src/assets/img/wave.svg");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position-x: 100%;
}

@media screen and (max-width: 992px) {
  .background-container {
    background-image: url("/src/assets/img/waveSmallFlipped.svg");
  }
  .background-container-flipped {
    background-image: url("/src/assets/img/waveSmall.svg");
  }
  .background-container,
  .background-container-flipped {
    background-size: 180%;
  }
}
